beautifulsoup4==4.5.3
bokeh==0.12.4
Flask==0.12
Flask-Cors==3.0.2
gunicorn==19.7.1
Jinja2==2.9.4
matplotlib==2.0.0
numpy==1.11.3
pandas==0.19.2
requests==2.14.2
six==1.10.0
SQLAlchemy==1.1.5
tables==3.3.0
