<!DOCTYPE html>
<html ng-app="TwitterApp">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>TwitterApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
    rel="stylesheet" type="text/css">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
    rel="stylesheet" type="text/css">

    <!bokeh plotting>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}

    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body ng-controller="TwitterAppController">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h1>Tweets tracer</h1>
          <br>
          <form role="form" ng-submit="getResults()">
            <div class="form-group">
              <input type="text" name="keyword" class="form-control" id="url-box" placeholder="Enter URL..." style="max-width: 300px;" ng-model='keyword' required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
              <h2>Tweets</h2>
              <br>
              <div id="results">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Tweet</th>
                    </tr>
                  </thead>
                   <tbody>
                    {% raw %}
                      <tr ng-repeat="(key, val) in tweets">
                        <td>{{key}}</td>
                        <td>{{val}}</td>
                      </tr>
                    {% endraw %}
                    </tbody>
                </table>
              </div>
          <br>
        </div>
      </div>
      <br>
      <sentiment-chart data="tweets"></sentiment-chart>

    <!-- A simple form for changing the graph -->
    {{ plot_div|indent(4)|safe }}
    <p> Most frequent words</p>
    </div>
    <br><br>
    <!-- scripts -->
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
  </body>
</html>
